/build.xml
/ant.properties
/build_files/README
/gen
/bin
/libs
/res/drawable-mdpi
/res/drawable-hdpi
/res/values
/res/drawable-ldpi
/res/drawable-xhdpi
/proguard-project.txt
/assets/conjugator.db
/build_files/conjugator_es.db
/build_files/conjugator_fr.db
/build_files/conjugator_pt.db
/build_files/deploy-es.xml
/build_files/deploy-fr.xml
/build_files/deploy-pt.xml
/build_files/drawable-mdpi/pt
/build_files/drawable-mdpi/fr
/build_files/drawable-mdpi/es
/build_files/drawable-hdpi/pt
/build_files/drawable-hdpi/fr
/build_files/drawable-hdpi/es
/build_files/drawable-ldpi/pt
/build_files/drawable-ldpi/fr
/build_files/drawable-ldpi/es
/build_files/drawable-xhdpi/pt
/build_files/drawable-xhdpi/fr
/build_files/drawable-xhdpi/es
/src/com/ciardullo/billing
/src/com/android/vending/billing
/src/com/ciardullo/util/Base64.java
/src/com/ciardullo/util/Base64DecoderException.java
 
